/* ─── Clarkson (sans) ─────────────────────────────────────────────────────────── */

@font-face {
  font-family:  'Clarkson';
  font-weight:  300;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/Clarkson/Clarkson-Light.woff2') format('woff2'),
       url('./fonts/Clarkson/Clarkson-Light.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson';
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/Clarkson/Clarkson-BookProduct.woff2') format('woff2'),
       url('./fonts/Clarkson/Clarkson-BookProduct.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson';
  font-weight:  500;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/Clarkson/Clarkson-Medium.woff2') format('woff2'),
       url('./fonts/Clarkson/Clarkson-Medium.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson';
  font-weight:  600;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/Clarkson/Clarkson-Semibold.woff2') format('woff2'),
       url('./fonts/Clarkson/Clarkson-Semibold.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson';
  font-weight:  700;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/Clarkson/Clarkson-Bold.woff2') format('woff2'),
       url('./fonts/Clarkson/Clarkson-Bold.woff')  format('woff');
}

/* ─── Clarkson Serif ──────────────────────────────────────────────────────────── */

@font-face {
  font-family:  'Clarkson Serif';
  font-weight:  300;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/ClarksonSerif/ClarksonSerif-Light.woff2') format('woff2'),
       url('./fonts/ClarksonSerif/ClarksonSerif-Light.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson Serif';
  font-weight:  300;
  font-style:   italic;
  font-display: swap;
  src: url('./fonts/ClarksonSerif/ClarksonSerif-LightItalic.woff2') format('woff2'),
       url('./fonts/ClarksonSerif/ClarksonSerif-LightItalic.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson Serif';
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/ClarksonSerif/ClarksonSerif-Regular.woff2') format('woff2'),
       url('./fonts/ClarksonSerif/ClarksonSerif-Regular.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson Serif';
  font-weight:  400;
  font-style:   italic;
  font-display: swap;
  src: url('./fonts/ClarksonSerif/ClarksonSerif-Italic.woff2') format('woff2'),
       url('./fonts/ClarksonSerif/ClarksonSerif-Italic.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson Serif';
  font-weight:  500;
  font-style:   normal;
  font-display: swap;
  src: url('./fonts/ClarksonSerif/ClarksonSerif-Medium.woff2') format('woff2'),
       url('./fonts/ClarksonSerif/ClarksonSerif-Medium.woff')  format('woff');
}

@font-face {
  font-family:  'Clarkson Serif';
  font-weight:  500;
  font-style:   italic;
  font-display: swap;
  src: url('./fonts/ClarksonSerif/ClarksonSerif-MediumItalic.woff2') format('woff2'),
       url('./fonts/ClarksonSerif/ClarksonSerif-MediumItalic.woff')  format('woff');
}
